.icon-menu {
  float: right;
  font-size: 2.2em;
  /*margin-right: 3%;*/
}

.main-nav {
  background-image: url('/img/prairie.jpg');
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav ul li a {
  font-family: 'Poiret One', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
}

.main-nav ul li {
  background:rgba(255, 255, 255, 0.6);
  margin: 1% 0 1% 0;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding-top: .2em;
  padding-bottom: .2em;
}

.template {
  display: none;
}

@media only screen and (min-width: 800px) {

  .icon-menu {
    display: none;
  }

  main {
    width: 70%;
    float: right;
    background-color: #D1E8FF;
    padding-right: 10%;
    display: inline-block;
  }

  .arthome {
  }

  .abouthome {
  }

  .main-nav {
    display: inline-block;
    width: 20%;
    float: left;
    height: 100%;
    position: fixed;
  }

  .containme {
    border-radius: 30px 30px 30px 30px;
    border: 3px solid #000;
    margin: 10% 0 10% 13%;
    padding: 5% 5% 5% 5%;
    background:rgba(255, 255, 255, 0.5);
    background-image:url('/img/strf.jpg');
  }

  .main-nav ul, .main-nav:hover ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }

  .main-nav ul li {
    display: block;
    width: 100%;
    z-index: 2;
    overflow: hidden;
  }

  .main-nav ul li a {
    display: block;
    text-align: right;
    padding-right: 4%;
  }

  .main-nav ul li a:hover {
    padding-right: 22%;
    color: #4994FF;
    display: block;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
  }
}
